<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URl shortener</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <form action="api/shorturl" method="POST">
      <fieldset>
        <legend>URL Shortener</legend>
        <label for="textbox">URL: </label>
        <input name="url" type="text" placeholder="enter url to shorten it" />
        <button>POST URL</button>
      </fieldset>
    </form>
  </body>
</html>
